[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
uvicorn = "*"
aiohttp = "*"
ipython = "*"
pydantic = "*"
psycopg2-binary = "*"
django-redis = "*"
watchfiles = "*"
celery = {extras = ["redis"], version = "*"}
flower = "*"

[dev-packages]
locust = "*"

[requires]
python_version = "3.10"
